.about-section {
    padding: 80px 0;
    background: linear-gradient(135deg, #f5f5f5, #e0e0e0);;
  }
  
  .about-section h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 40px;
    color: #333;
  }
  
  .about-image {
    width: 75%;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-left: 70px;
  }
  
  .about-text h3 {
    font-size: 1.8rem;
    color: #222;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 15px;
    
  }
  
  .about-text p {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .about-highlights {
    margin-top: 20px;
  }
  
  .highlight {
    background: white;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  }
  
  .highlight h4 {
    font-size: 1.2rem;
    color: #2EC0BF;
  }
  
  .highlight p {
    font-size: 1rem;
    color: #666;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .about-section {
      padding: 60px 20px;
    }
  
    .about-text h3 {
      font-size: 1.5rem;
    }
  
    .about-text p {
      font-size: 1rem;
    }
  
    .highlight h4 {
      font-size: 1.1rem;
    }
    .about-image {
      width: 100%;
      border-radius: 12px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      margin-left: 0px;
    }
  }
  